.PreviewWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.Preview {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.PreviewElem {
  position: relative;
  margin-bottom: 20px;
  margin-right: 20px;
}

.PreviewImage {
  width: 609px;
  max-height: 350px;
}
.PreviewButton {
  background: #e5e5e5;
  border: none;
  min-width: 220px;
  min-height: 40px;
  font-size: 17px;
  line-height: 20px;
  font-family: "Times new Roman";
}
.PreviewLayer {
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-family: "Times New Roman";
  font-size: 24px;
  padding: 20px;
  text-align: center;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.8);
}
@media (max-width: 1660px) {
  .Preview {
    max-width: 95%;
    justify-content: center;
  }
}
@media (max-width: 1440px) {
  .PreviewImage {
    min-width: unset;
    max-width: 450px;
    max-height: 300px;
  }
}
@media (max-width: 1024px) {
  .PreviewImage {
    max-width: 100%;
    width: 520px;
  }
  .PreviewElem {
    margin-right: 0;
  }
}
