.SliderWrapper {
  width: 80%;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
}

.SlideWrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
}

.Slide {
  width: 100%;
  max-height: 100%;
}

.SliderController {
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  height: 40px;
  width: 20px;
  top: auto;
  left: 20px;
  color: #fff;
  background: rgba(0, 0, 0, .7);
}


.SliderController:last-child {
  left: auto;
  right: 20px;
  transform: rotateZ(180deg);
}