.Slider__title {
  margin: 0 auto;
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  font-size: 30px;
  font-style: italic;
  letter-spacing: 7px;
  font-family: "Times new Roman";
  color: gray;
}

.Slider__title-text {
  margin-left: 10px;
  margin-right: 10px;
}

@media (min-width: 1600px) {
  .Slider__title {
    font-size: 37px;
  }
}
@media (max-width: 1320px) {
  .Slider__title {
    width: 50%;
  }
}

@media (max-width: 1000px) {
  .Slider__title {
    width: 60%;
  }
}
@media (max-width: 800px) {
  .Slider__title {
    width: 75%;
  }
}
@media (max-width: 650px) {
  .Slider__title {
    width: 85%;
  }
}
@media (max-width: 600px) {
  .Slider__title {
    font-size: 22px;
  }
}
@media (max-width: 500px) {
  .Slider__title {
    width: 95%;
    font-size: 20px;
    letter-spacing: 4px;
  }
}
