.Logo {
    text-align: center;
}

.Logo img {
    max-width: 280px;
    height: auto;
}

.NavMenu {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 0 auto;
    
}
.NavMenuBlock {
    width: 23%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.MenuItemFigure {
    font-size: 14px;
    color: grey;
}
.MenuItem {
    margin-top: 70px;
    font-family: 'Times new Roman';
}
.MenuItemTitle {
    font-size: 21px;
    transition: .1s;
}
.MenuItemTitle:hover {
    color:rgba(0,0,0,0.5);
}

/* .MenuActive span:nth-child(2) {
    font-weight: bold;
} */

.LangSwitcher {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.LangSwitcherDisabled {
    font-size: 14px;
    color: grey;
}

.LangSwitcherActive {
    font-size: 18px;
    font-weight: bold;
}

