html {
  overflow-x: hidden;
}

.Approach {
  width: 80%;
  margin: 30px auto;
  display: flex;
  flex-flow: column;
}
.ApproachElem {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 50px;
}
.ApproachElemImg {
  margin-top: 75px;
  max-width: 440px;
  height: auto;
}
.ApproachTable {
  width: 50%;
  display: flex;
  flex-flow: column;
  font-family: "Times New Roman";
  margin-left: 20px;
}
.ApproachTableTitle {
  font-size: 37px;
  font-weight: normal;
  margin-bottom: 50px;
}
.ApproachTableWrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 20px;
  border-bottom: 1px solid #504c4c;
}

.ApproachElem:first-child .ApproachTable {
  text-align: end;
}

.ApproachElem:nth-child(3) .ApproachTable {
  text-align: end;
}

@media screen and (max-width: 1100px) {
  .ApproachElem {
    flex-direction: column;
    overflow: visible;
  }
  .ApproachTable {
    width: 100%;
  }
  .ApproachTableWrap {
    font-size: 16px !important;
  }
  .ApproachTableTitle {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .ApproachElemImg {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .ApproachElem:nth-child(2) {
    flex-direction: column-reverse;
  }
  /* .ApproachElem:nth-child(2) .ApproachElemImg {
    transform: rotateZ(90deg) scale(2);
  } */
}
